<footer class="page-footer font-small stylish-color-dark pt-4 mt-4">

    <!--Footer Links-->
    <div class="container text-center text-md-left">
        <div class="row">

            <!--First column-->
            <div class="col-md-4">
                <a href="Index.html">
                    <img src="{{data[1].entry.group.file.url}}"></img>
                </div>
                <!--/.First column-->

                <hr class="clearfix w-100 d-md-none">

                <!--Second column-->
                <div class="col-md-2 mx-auto">
                    <h5 class="text-uppercase mb-4 mt-3 font-weight-bold"></h5>
                    <ul class="list-unstyled">
                        <li>
                            <a href="{{data[1].entry.group.footer_menu[0].menu.href}}">{{data[1].entry.group.footer_menu[0].menu.title}}</a>
                        </li>
                        <li>
                            <a href="{{data[1].entry.group.footer_menu[1].menu.href}}">{{data[1].entry.group.footer_menu[1].menu.title}}</a>
                        </li>
                        <li>
                            <a href="{{data[1].entry.group.footer_menu[2].menu.href}}">{{data[1].entry.group.footer_menu[2].menu.title}}</a>
                        </li>
                    </ul>
                </div>
                <!--/.Second column-->

                <hr class="clearfix w-100 d-md-none">

                <!--Third column-->
                <div class="col-md-2 mx-auto">

                    <ul class="list-unstyled">
                        <li>
                            <a href="{{data[1].entry.group.footer_social_media[0].social_media_menu.href}}">{{data[1].entry.group.footer_social_media[0].social_media_menu.title}}</a>
                        </li>
                        <li>
                            <a href="{{data[1].entry.group.footer_social_media[1].social_media_menu.href}}">{{data[1].entry.group.footer_social_media[1].social_media_menu.title}}</a>
                        </li>
                        <li>
                            <a href="{{data[1].entry.group.footer_social_media[2].social_media_menu.href}}">{{data[1].entry.group.footer_social_media[2].social_media_menu.title}}</a>
                        </li>
                        <li>
                            <a href="{{data[1].entry.group.footer_social_media[3].social_media_menu.href}}">{{data[1].entry.group.footer_social_media[3].social_media_menu.title}}</a>
                        </li>
                    </ul>
                </div>
                <!--/.Third column-->
            </div>
        </div>

    </footer>
    <!--/.Footer-->
    <div class="sticky-footer">
        <div class="sticky-footer-main">
            <!--Copyright-->
            <div class="footer-copyright py-3 text-center">
                {{data[1].entry.sticky_footer.copy_right}}
            </div>
            <!--/.Copyright-->
            <!--privacy term and sitemap-->
            <div class="sticky-footer-right">
                <h5>
                    <a href="{{data[1].entry.sticky_footer.sticky_footer_link[0].href}}">{{data[1].entry.sticky_footer.sticky_footer_link[0].title}}</a>
                    |
                    <a href="{{data[1].entry.sticky_footer.sticky_footer_link[1].href}}">{{data[1].entry.sticky_footer.sticky_footer_link[1].title}}</a>
                    |
                    <a href="{{data[1].entry.sticky_footer.sticky_footer_link[2].href}}">{{data[1].entry.sticky_footer.sticky_footer_link[2].title}}</a>
                </h5>
            </div>
        </div>
    </div>