<footer class="page-footer font-small stylish-color-dark pt-4 mt-4">

    <!--Footer Links-->
    <div class="container text-center text-md-left">
        <div class="row">

            <!--First column-->
            <div class="col-md-4">
                <a href="Index.html">
                    <img src="../static/images/logo.png">
                </div>
                <!--/.First column-->

                <hr class="clearfix w-100 d-md-none">

                <!--Second column-->
                <div class="col-md-2 mx-auto">
                    <h5 class="text-uppercase mb-4 mt-3 font-weight-bold"></h5>
                    <ul class="list-unstyled">
                        <li>
                            <a href="Index.html">Home</a>
                        </li>
                        <li>
                            <a href="FAQ.html">FAQ</a>
                        </li>
                        <li>
                            <a href="Registration.html">Contact Us</a>
                        </li>
                    </ul>
                </div>
                <!--/.Second column-->

                <hr class="clearfix w-100 d-md-none">

                <!--Third column-->
                <div class="col-md-2 mx-auto">

                    <ul class="list-unstyled">
                        <li>
                            <a href="#!">Google</a>
                        </li>
                        <li>
                            <a href="#!">Facebook</a>
                        </li>
                        <li>
                            <a href="#!">Youtube</a>
                        </li>
                        <li>
                            <a href="#!">Instagram</a>
                        </li>
                    </ul>
                </div>
                <!--/.Third column-->
            </div>
        </div>

    </footer>
    <!--/.Footer-->
    <div class="sticky-footer">
        <div class="sticky-footer-main">
            <!--Copyright-->
            <div class="footer-copyright py-3 text-center">
                © 2018 ContentStack. All rights reserved.
            </div>
            <!--/.Copyright-->
            <!--privacy term and sitemap-->
            <div class="sticky-footer-right">
                <h5>
                    <a href="https://www.contentstack.com/privacy">Privacy</a>
                    |
                    <a href="https://www.contentstack.com/terms-of-service">Terms</a>
                    |
                    <a href="https://www.contentstack.com/sitemap">Sitemap</a>
                </h5>
            </div>
        </div>
    </div>