.registration-body{
    width: 100%;
    height: 100%;
}

.registration-form-container{
    width: 1200px;
    margin: 0 auto;
    left: 0;
    right: 0;
}
.registration-left-container{
    width: 45%;
    height: 100%;
    float: left;
    
    border-right: 1px solid black
    
}
.registration-right-container{
    width: 100%;
    height: 100%;  
   
}

input[type=text]{
    width: 50%;
    padding: 5px;
    margin: 5px;
}

input[type=email]{
    width: 50%;
    padding: 5px;
    margin: 5px;
}

select[type=text]{
    width: 24%;
    padding: 5px;
    margin: 10px;
}
.registration-optional-texta{
    width: 100%;
    height: auto;
}
textarea{
    width: 100%;
    height: 150px;
    margin: 10px;
}

.registration-submit-buttun{
    float: right;
    right: 0;
    margin: 0;
}